/* Hero */
.article .article-hero{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover; 
    background-position: 50% 60%;
    background-repeat: no-repeat;  
    height: 40%;
    width: 100%;
}

.article .article-hero h1{
    color: #ede0ea;
    font-size: 150px;
}

/* Content */
.article .article-content .full {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
}

.article .article-content .full p {
    width: 50%;
}


.article .article-content .split {
    display: flex;
    flex-direction: row;
}

.article .article-content .background-img {
    height: 100vh;
    width: 50%;
}

.article .article-content .tekst {
    position: relative;
    width: 50%;
    padding: 100px;
}

.article .article-content .tekst h2 {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    transform: translate(-50%, -50%); 
    color: #000; 
    font-size: 158px; 
}

.article .article-content .tekst.left h2 {
    transform: translate(50%, -50%) !important; 
}