/* Hero */
.article .article-hero{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover; 
    background-position: 50% 60%;
    background-repeat: no-repeat;  
    height: 40%;
    width: 100%;
}

.article .article-hero h1{
    color: #ede0ea;
    font-size: 150px;
}

/* Content full */
.article .article-content .full {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
}

.article .article-content .full div {
    width: 50%;
}


/* Content split */
.article .article-content .split{
    display: flex;
    flex-direction: row;
}

.article .article-content .split.space{
    margin-bottom: 150px;
}

.article .article-content .split.border {
   border-bottom: 1px solid #000;
}

.article .article-content .split div {
    width: 50%;
}


/* Content content */
.article .article-content .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article .article-content .background-img {
    height: 100vh;
}

.article .article-content img {
    height: 400px;
    margin: 50px;
}

.article .article-content .tekst {
    position: relative;
    padding: 100px;
}

.article .article-content .tekst h2 {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    transform: translate(-50%, -50%); 
    color: #000; 
    font-size: 158px; 
}

.article .article-content .tekst.left h2 {
    transform: translate(50%, -50%) !important; 
}

.article .article-content ul li {
    padding-bottom: 5px;
}