/* Top hero på alle artikler */
.article .article-hero{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover; 
    background-position: 50% 60%;
    background-repeat: no-repeat;  
    height: 40%;
    width: 100%;
}

.article .article-hero h1{
    color: #ede0ea;
    font-size: 150px;
}

/* Artikel sektioner med fuld bredte */
.article .article-content .full {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
}

/* Artikel sektioner med fuld bredte, hvor indholdet kun fylder 50% */
.article .article-content .full div {
    width: 50%;
}

/* Artikel sektioner, der er delt over 50/50 */
.article .article-content .split{
    display: flex;
    flex-direction: row;
}

/* Mulighed for at lægge noget luft i bunden af en sektion */
.article .article-content .split.space{
    margin-bottom: 150px;
}

/* Mulighed for at lægge en streg i bunden af en sektion */
.article .article-content .split.border {
   border-bottom: 1px solid #000;
}

.article .article-content .split div {
    width: 50%;
}


/* Mulighed for at centrere indhold i en sektion */
.article .article-content .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ekstra styling til baggrundsbilleder på artikler (udover basic styling) */
.article .article-content .background-img {
    height: 100vh;
}

/* Almindelig billeder */
.article .article-content img {
    height: 400px;
    margin: 50px;
}

/* Luft omkring tekst */
.article .article-content .tekst {
    position: relative;
    padding: 100px;
}

/* Store overskrifter */
.article .article-content .tekst h2 {
    position: absolute; 
    top: 0%; 
    left: 0%; 
    transform: translate(-50%, -50%); 
    color: #000; 
    font-size: 158px; 
}

/* Store overskrifter i venstre side */
.article .article-content .tekst.left h2 {
    transform: translate(50%, -50%) !important; 
}

/* Liste */
.article .article-content ul {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}
.article .article-content ul li {
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 10px;
    transition: background-color 0.3s ease;
}

/* Billeder ved siden af hinanden */
.article .article-content .billeder {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article .article-content .billeder img {
    width: 300px;
    height: auto;
    margin: 0;
    margin-right: 10px;

}
