* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color:#ede0ea;
}
h1, h2, h3{
    font-family: "Caveat", cursive;
    font-weight: 100;
}
h3{
    font-size: 25px;
}
p, a{
    font-family: "Source Sans 3", sans-serif;
}