.front-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.front-page .background-img {
    background-image: url("../img/monk.jpeg");
    width: 50%;
}

.front-page .tagline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}