  .top-nav{
    display: flex;
    justify-content: space-between;
    border-bottom: #000 solid 1px;
    align-items: center;
    padding-right: 100px;
  }

  /* logo */
  .top-nav .logo{
    padding: 5px 10px;
  }

  .top-nav .logo h3{
    margin: 0;
  }

  /* menu */
  .top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .top-menu ul li {
    display: inline-block;
  }
  
  .top-menu ul li a {
    display: block;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .top-menu ul li ul {
    display: none;
    position: absolute;
    /* border: #000 solid 1px; */
    background-color: #ede0ea;
  }
  
  .top-menu ul li:hover ul {
    display: block;
  }
  
  .top-menu ul li ul li {
    display: block;
  }

  .top-menu ul li ul li:hover {
    background-color:#ebd1e5;
  }
  
  .top-menu ul li ul li a {
    padding: 10px 20px;
    cursor: pointer;
  }
  